%a.general-back-link{href:"#{product_path}"}
  %i.fa.fa-long-arrow-left.mr-15
  Back to results
.row
  .col-sm-6
    .product-gallery
      .mb-20
        %img.img-responsive{src: @product.image_url}
      .images.clearfix
        %a.img-link{href: "#"}
          %img.width-full{src: @product.image_url}
        %a.img-link{href: "#"}
          %img.width-full{src: @product.image_url}
        %a.img-link{href: "#"}
          %img.width-full{src: @product.image_url}
  .col-sm-6
    %h1.mt-res-0= @product.title
    %p.in-grey-600.small= "#{@product.author.first_name} #{@product.author.last_name}" 
    .row
      .col-xs-12.col-md-4
        %p.h1.in-gold-500.mt-10= "€#{@product.price}0"
      .col-xs-5.col-md-3
        .input-group.general-position
          = link_to '', line_item_path(product_id: @product.id), method: :patch, class: "input-link fa fa-minus line-height-40"
          %input.form-control.quantity-input{:type => "text", :value => "#{@quantity}"}
          = link_to '', line_items_path(product_id: @product.id), remote: true, method: :post, class: "input-link fa fa-plus line-height-40"
      .col-xs-7.col-md-5
        = button_to 'Add to Cart', line_items_path(product_id: @product.id), remote: true, class: "btn btn-default pull-right general-position"
    .card
      .clearfix
        %p.general-item-info.pull-right= @product.materials
        %p.break-word Materials
      %p.in-grey-600.small.line-height-2
        = @product.materials
    .card
      %p Description
      %p.in-grey-600.small.line-height-2
        = @product.description
    .card
      .clearfix
        %p.general-item-info.pull-right= @product.year.strftime("%Y")
        %p.break-word Year of publication
    .card
      .clearfix
        %p.general-item-info.pull-right= @product.dimensions
        %p.break-word Dimensions
    .card
      .clearfix
        %p.general-item-info.pull-right= @product.materials
        %p.break-word Materials
.mb-80
  %ul.media-list
    = render 'books/show_review'
    - if user_signed_in?
      = render 'books/form_review'